version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - s3_data:/app/data
    env_file:
      - .env
    environment:
      - SQLALCHEMY_DATABASE_URL=sqlite:///./data/sql_app.db

  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  s3_data:
